# ======================
# database
# ======================
DB__HOST=postgres
DB__PORT=5432
DB__USER=your_user
DB__PASSWORD=your_password
DB__NAME=your_db_name

# ======================
# JWT
# ======================
JWT__SECRET_KEY=change_to_a_secure_random_string
JWT__ALGORITHM=HS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=20
JWT__REFRESH_TOKEN_EXPIRE_MINUTES=43200

# ======================
# redis
# ======================
REDIS__HOST=redis
REDIS__PORT=6379

# ======================
# celery
# ======================
CELERY__BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY__RESULT_BACKEND=redis://redis:6379/1

# ======================
# RESEND
# ======================
SMTP__FROM=your_domain
SMTP__API_KEY=your_api_key

# ======================
# minio
# ======================
MINIO__ENDPOINT=minio:9000
MINIO__PUBLIC_ENDPOINT=localhost:9000
MINIO__ACCESS_KEY=your_access_key
MINIO__SECRET_KEY=your_secret_key
MINIO__BUCKET=attachments
MINIO__SECURE=False